body
{

}

header{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

img{
    max-width:100%;
}

a:link{
    text-decoration:none;
}

a:visited{
    color:black;
}

a:hover{
    background-color:cadetblue;
}

a:active {
    background-color:cadetblue;
}